In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
tf.__version__

'2.15.0'

In [23]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [25]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [27]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), ['Geography'])], remainder='passthrough')
df_transformed = ct.fit_transform(df)
ohe_feature_names = ct.named_transformers_['encoder'].get_feature_names_out(['Geography'])

passthrough_columns = [col for col in df.columns if col != 'Geography']
all_columns = list(ohe_feature_names) + passthrough_columns
df = pd.DataFrame(df_transformed, columns=all_columns)

In [28]:
df.head()

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,619.0,0.0,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1.0
1,0.0,0.0,1.0,608.0,0.0,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0.0
2,1.0,0.0,0.0,502.0,0.0,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1.0
3,1.0,0.0,0.0,699.0,0.0,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0.0
4,0.0,0.0,1.0,850.0,0.0,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0.0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X = df.drop('Exited', axis=1)
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [37]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten 

ann = Sequential()
ann.add(Dense(units=6, activation='relu'))
ann.add(Dense(units=6, activation='relu'))
ann.add(Dense(units=6, activation='relu'))
ann.add(Dense(units=6, activation='relu'))
ann.add(Dense(units=1, activation='sigmoid'))

In [38]:
ann.compile(optimizer= 'adam',loss= 'binary_crossentropy', metrics=['accuracy']) 
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 715us/step - loss: 0.5408 - accuracy: 0.7789
Epoch 2/100
250/250 [==============================] - 0s 583us/step - loss: 0.4780 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 559us/step - loss: 0.4572 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 553us/step - loss: 0.4428 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 567us/step - loss: 0.4349 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 0s 550us/step - loss: 0.4296 - accuracy: 0.8114
Epoch 7/100
250/250 [==============================] - 0s 546us/step - loss: 0.4248 - accuracy: 0.8184
Epoch 8/100
250/250 [==============================] - 0s 547us/step - loss: 0.4198 - accuracy: 0.8246
Epoch 9/100
250/250 [==============================] - 0s 541us/step - loss: 0.4142 - accuracy: 0.8291
Epoch 10/100
250/250 [==============================] - 0s 546us/step - loss: 0.4104 - accuracy: 0.8299
Epoch 11/100
250/250 [==============================] - 0s 557us/step - loss: 0.4078 - accuracy: 0.8310
Epoch 12/100
250/250 [==============================] - 0s 628us/step - loss: 0.4065 - accuracy: 0.8322
Epoch 13/100
250/250 [==============================] - 0s 553us/step - loss: 0.4041 - accuracy: 0.8331
Epoch 14/100
250/250 [==============================] - 0s 540us/step - loss: 0.4024 - accuracy: 0.8344
Epoch 15/100
250/250 [==============================] - 0s 541us/step - loss: 0.4015 - accuracy: 0.8344
Epoch 16/100
250/250 [==============================] - 0s 568us/step - loss: 0.4001 - accuracy: 0.8350
Epoch 17/100
250/250 [==============================] - 0s 565us/step - loss: 0.3991 - accuracy: 0.8349
Epoch 18/100
250/250 [==============================] - 0s 545us/step - loss: 0.3981 - accuracy: 0.8347
Epoch 19/100
250/250 [==============================] - 0s 552us/step - loss: 0.3972 - accuracy: 0.8361
Epoch 20/100
250/250 [==============================] - 0s 555us/step - loss: 0.3962 - accuracy: 0.8347
Epoch 21/100
250/250 [==============================] - 0s 528us/step - loss: 0.3963 - accuracy: 0.8367
Epoch 22/100
250/250 [==============================] - 0s 536us/step - loss: 0.3949 - accuracy: 0.8361
Epoch 23/100
250/250 [==============================] - 0s 541us/step - loss: 0.3953 - accuracy: 0.8355
Epoch 24/100
250/250 [==============================] - 0s 540us/step - loss: 0.3941 - accuracy: 0.8361
Epoch 25/100
250/250 [==============================] - 0s 544us/step - loss: 0.3938 - accuracy: 0.8364
Epoch 26/100
250/250 [==============================] - 0s 639us/step - loss: 0.3936 - accuracy: 0.8363
Epoch 27/100
250/250 [==============================] - 0s 542us/step - loss: 0.3931 - accuracy: 0.8382
Epoch 28/100
250/250 [==============================] - 0s 601us/step - loss: 0.3927 - accuracy: 0.8370
Epoch 29/100
250/250 [==============================] - 0s 575us/step - loss: 0.3928 - accuracy: 0.8359
Epoch 30/100
250/250 [==============================] - 0s 579us/step - loss: 0.3921 - accuracy: 0.8386
Epoch 31/100
250/250 [==============================] - 0s 601us/step - loss: 0.3920 - accuracy: 0.8378
Epoch 32/100
250/250 [==============================] - 0s 589us/step - loss: 0.3910 - accuracy: 0.8375
Epoch 33/100
250/250 [==============================] - 0s 586us/step - loss: 0.3924 - accuracy: 0.8374
Epoch 34/100
250/250 [==============================] - 0s 538us/step - loss: 0.3915 - accuracy: 0.8382
Epoch 35/100
250/250 [==============================] - 0s 541us/step - loss: 0.3912 - accuracy: 0.8379
Epoch 36/100
250/250 [==============================] - 0s 533us/step - loss: 0.3915 - accuracy: 0.8374
Epoch 37/100
250/250 [==============================] - 0s 543us/step - loss: 0.3910 - accuracy: 0.8385
Epoch 38/100
250/250 [==============================] - 0s 535us/step - loss: 0.3910 - accuracy: 0.8384
Epoch 39/100
250/250 [==============================] - 0s 535us/step - loss: 0.3905 - accuracy: 0.8406
Epoch 40/100
250/250 [==============================] - 0s 604us/step - loss: 0.3902 - accuracy: 0.8415
Epoch 41/100
250/250 [==============================] - 0s 569us/step - loss: 0.3899 - accuracy: 0.8395
Epoch 42/100
250/250 [==============================] - 0s 543us/step - loss: 0.3899 - accuracy: 0.8388
Epoch 43/100
250/250 [==============================] - 0s 572us/step - loss: 0.3901 - accuracy: 0.8379
Epoch 44/100
250/250 [==============================] - 0s 560us/step - loss: 0.3898 - accuracy: 0.8382
Epoch 45/100
250/250 [==============================] - 0s 542us/step - loss: 0.3897 - accuracy: 0.8391
Epoch 46/100
250/250 [==============================] - 0s 542us/step - loss: 0.3896 - accuracy: 0.8407
Epoch 47/100
250/250 [==============================] - 0s 567us/step - loss: 0.3891 - accuracy: 0.8411
Epoch 48/100
250/250 [==============================] - 0s 554us/step - loss: 0.3890 - accuracy: 0.8406
Epoch 49/100
250/250 [==============================] - 0s 560us/step - loss: 0.3887 - accuracy: 0.8414
Epoch 50/100
250/250 [==============================] - 0s 560us/step - loss: 0.3883 - accuracy: 0.8407
Epoch 51/100
250/250 [==============================] - 0s 543us/step - loss: 0.3883 - accuracy: 0.8397
Epoch 52/100
250/250 [==============================] - 0s 600us/step - loss: 0.3881 - accuracy: 0.8403
Epoch 53/100
250/250 [==============================] - 0s 684us/step - loss: 0.3878 - accuracy: 0.8404
Epoch 54/100
250/250 [==============================] - 0s 547us/step - loss: 0.3873 - accuracy: 0.8397
Epoch 55/100
250/250 [==============================] - 0s 534us/step - loss: 0.3877 - accuracy: 0.8407
Epoch 56/100
250/250 [==============================] - 0s 538us/step - loss: 0.3872 - accuracy: 0.8414
Epoch 57/100
250/250 [==============================] - 0s 544us/step - loss: 0.3872 - accuracy: 0.8407
Epoch 58/100
250/250 [==============================] - 0s 555us/step - loss: 0.3872 - accuracy: 0.8411
Epoch 59/100
250/250 [==============================] - 0s 575us/step - loss: 0.3869 - accuracy: 0.8415
Epoch 60/100
250/250 [==============================] - 0s 556us/step - loss: 0.3865 - accuracy: 0.8426
Epoch 61/100
250/250 [==============================] - 0s 539us/step - loss: 0.3864 - accuracy: 0.8421
Epoch 62/100
250/250 [==============================] - 0s 545us/step - loss: 0.3865 - accuracy: 0.8418
Epoch 63/100
250/250 [==============================] - 0s 553us/step - loss: 0.3853 - accuracy: 0.8422
Epoch 64/100
250/250 [==============================] - 0s 548us/step - loss: 0.3854 - accuracy: 0.8404
Epoch 65/100
250/250 [==============================] - 0s 563us/step - loss: 0.3848 - accuracy: 0.8419
Epoch 66/100
250/250 [==============================] - 0s 688us/step - loss: 0.3844 - accuracy: 0.8413
Epoch 67/100
250/250 [==============================] - 0s 546us/step - loss: 0.3839 - accuracy: 0.8430
Epoch 68/100
250/250 [==============================] - 0s 545us/step - loss: 0.3835 - accuracy: 0.8425
Epoch 69/100
250/250 [==============================] - 0s 544us/step - loss: 0.3814 - accuracy: 0.8421
Epoch 70/100
250/250 [==============================] - 0s 562us/step - loss: 0.3791 - accuracy: 0.8432
Epoch 71/100
250/250 [==============================] - 0s 556us/step - loss: 0.3756 - accuracy: 0.8460
Epoch 72/100
250/250 [==============================] - 0s 537us/step - loss: 0.3688 - accuracy: 0.8499
Epoch 73/100
250/250 [==============================] - 0s 606us/step - loss: 0.3616 - accuracy: 0.8529
Epoch 74/100
250/250 [==============================] - 0s 545us/step - loss: 0.3524 - accuracy: 0.8534
Epoch 75/100
250/250 [==============================] - 0s 521us/step - loss: 0.3461 - accuracy: 0.8584
Epoch 76/100
250/250 [==============================] - 0s 534us/step - loss: 0.3429 - accuracy: 0.8608
Epoch 77/100
250/250 [==============================] - 0s 533us/step - loss: 0.3411 - accuracy: 0.8586
Epoch 78/100
250/250 [==============================] - 0s 537us/step - loss: 0.3394 - accuracy: 0.8609
Epoch 79/100
250/250 [==============================] - 0s 682us/step - loss: 0.3389 - accuracy: 0.8608
Epoch 80/100
250/250 [==============================] - 0s 563us/step - loss: 0.3375 - accuracy: 0.8597
Epoch 81/100
250/250 [==============================] - 0s 552us/step - loss: 0.3363 - accuracy: 0.8605
Epoch 82/100
250/250 [==============================] - 0s 539us/step - loss: 0.3364 - accuracy: 0.8594
Epoch 83/100
250/250 [==============================] - 0s 531us/step - loss: 0.3371 - accuracy: 0.8612
Epoch 84/100
250/250 [==============================] - 0s 546us/step - loss: 0.3358 - accuracy: 0.8618
Epoch 85/100
250/250 [==============================] - 0s 534us/step - loss: 0.3358 - accuracy: 0.8610
Epoch 86/100
250/250 [==============================] - 0s 532us/step - loss: 0.3359 - accuracy: 0.8605
Epoch 87/100
250/250 [==============================] - 0s 587us/step - loss: 0.3351 - accuracy: 0.8608
Epoch 88/100
250/250 [==============================] - 0s 592us/step - loss: 0.3341 - accuracy: 0.8629
Epoch 89/100
250/250 [==============================] - 0s 581us/step - loss: 0.3341 - accuracy: 0.8620
Epoch 90/100
250/250 [==============================] - 0s 528us/step - loss: 0.3336 - accuracy: 0.8608
Epoch 91/100
250/250 [==============================] - 0s 599us/step - loss: 0.3337 - accuracy: 0.8627
Epoch 92/100
250/250 [==============================] - 0s 532us/step - loss: 0.3337 - accuracy: 0.8631
Epoch 93/100
250/250 [==============================] - 0s 536us/step - loss: 0.3330 - accuracy: 0.8631
Epoch 94/100
250/250 [==============================] - 0s 536us/step - loss: 0.3334 - accuracy: 0.8609
Epoch 95/100
250/250 [==============================] - 0s 533us/step - loss: 0.3329 - accuracy: 0.8646
Epoch 96/100
250/250 [==============================] - 0s 589us/step - loss: 0.3324 - accuracy: 0.8625
Epoch 97/100
250/250 [==============================] - 0s 539us/step - loss: 0.3318 - accuracy: 0.8631
Epoch 98/100
250/250 [==============================] - 0s 561us/step - loss: 0.3309 - accuracy: 0.8634
Epoch 99/100
250/250 [==============================] - 0s 571us/step - loss: 0.3317 - accuracy: 0.8635
Epoch 100/100
250/250 [==============================] - 0s 567us/step - loss: 0.3312 - accuracy: 0.8625

In [42]:
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score


y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

63/63 [==============================] - 0s 579us/step
              precision    recall  f1-score   support

         0.0       0.89      0.95      0.92      1595
         1.0       0.72      0.53      0.61       405

    accuracy                           0.86      2000
   macro avg       0.80      0.74      0.76      2000
weighted avg       0.85      0.86      0.85      2000

[[1511   84]
 [ 191  214]]
0.8625